@{
    ViewData["Title"] = "Add New Movie";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <label>Movie name:</label><br />
    <input type="text" name="name" value="" /><br />
    <label>Director name:</label><br />
    <input type="text" name="directorName" value="" /><br />
    <input type="submit" value="Add" />
</form>
